select {
  width: 100%;
  height: 40px;
  color: #333;
  padding: 0 30px 0 10px;
  border-radius: 0;
  border: 1px solid #cfcfcf;
  background: #fff url('../imgs/input_select.png') right center/ 24px no-repeat;
}
.container {
  position: relative;
  margin: 0;
  padding: 20px;
}

/* APP 내려받기 */
.app-wrap { position: relative; }
.btns-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}
.btns-box ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.btns-box ul li {
  color: #222;
  font-size: 15px;
  font-weight: 400;
  margin-right: 12px;
  padding-right: 12px;
  cursor: pointer;
}
.btns-box ul li:not(:last-child) {
  border-right: 1px solid #ddd;
}
.btns-box ul li:last-child {
  padding-right: 0;
  margin-right: 0;
}
.btns-box ul li.active {
  color: #4165F4;
  font-size: 15px;
  font-weight: 700;
}
.btns-box ul li.active::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 12px;
  margin-right: 6px;
  background: url("../imgs/check-ico.png") center center/cover no-repeat;
}
.btns-box .types {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.btns-box .types select {
  width: 130px;
  height: 48px;
  color: #222;
  font-weight: 400;
  font-size: 14px;
  padding: 0 20px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  cursor: pointer;
}
.btns-box .types select option {
  color: #222;
  font-weight: 400;
  font-size: 14px;
}
.btns-box .types button {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-align: center;
  vertical-align: top;
  border-radius: 8px;
  border: 1px solid #d9d9da;
  background-color: #fff;
}
.btns-box .types button.album-type::after {
  content: '';
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  width: 24px;
  height: 24px;
  background: url("../imgs/album-off-ico.png") center center/cover no-repeat;
  transition: all 0.25s;
}
.btns-box .types button.album-type.on::after {
  content: '';
  background: url("../imgs/album-on-ico.png") center center/cover no-repeat;
}
.btns-box .types button.list-type::after {
  content: '';
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  width: 24px;
  height: 22px;
  background: url("../imgs/list-off-ico.png") center center/cover no-repeat;
  transition: all 0.25s;
}
.btns-box .types button.list-type.on::after {
  content: '';
  background: url("../imgs/list-on-ico.png") center center/cover no-repeat;
}
.btns-box .types button.filter-type {
  display: none;
}
.btns-box ul li.active::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 12px;
  margin-right: 6px;
  background: url("../imgs/check-ico.png") center center/cover no-repeat;
}

.app-wrap .container .mytextbook-list {
  position: relative;
}
.app-wrap .container .mytextbook-list ul.album {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, auto));
  column-gap: 3%;
  row-gap: 40px;
}
.app-wrap .container .mytextbook-list ul.album li {
  width: 100%;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-img {
  position: relative;
  width: 100%;
  min-width: 180px;
  height: auto;
  margin-bottom: 16px;
  border: 1px solid #eee;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-img.ebook::after {
  content: "";
  position: absolute;
  top: -4px;
  left: calc(50% - 45px);
  width: 90px;
  height: 24px;
  background: url("../imgs/ebook-ico.png") center center/ cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-img.correct::before {
  content: '';
  position: absolute;
  top: -6px;
  right: 0;
  width: 44px;
  height: 53px;
  background: url("../imgs/correct-ico.png") center center / cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-img img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  border: 1px solid #eee;
  aspect-ratio: 1 / 1.3;
}

.app-wrap .container .mytextbook-list ul.album li .thumb-img i.flag-s {
  position: absolute;
  right: -3px;
  bottom: 7px;
  width: 34px;
  height: 34px;
  background: url("../imgs/flag-subscribe.png") center center/ cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-img .hover-btns {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.6);
  z-index: 10;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-img .hover-btns button {
  width: 140px;
  height: 40px;
  color: #222;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  padding: 9.5px 45px;
  border-radius: 6px;
  background-color: #fff;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  margin-bottom: 20px;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text dl {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text dl dt {
  position: relative;
  width: 80%;
  min-width: 120px;
  color: #222;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  padding-left: 24px;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text dl.time dt::before {
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../imgs/time-ico.png") center center / 20px 20px no-repeat;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text dl.time.buy dt::before {
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../imgs/round-check-ico.png") center center / 20px 20px no-repeat;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text dl.down dt::before {
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../imgs/down-ico.png") center center / 20px 20px no-repeat;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text dl dd {
  color: #888;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 100%;
  min-width: 180px;
  height: 48px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  padding: 10px 16px;
  border-radius: 8px;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.down-expir,
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-notsup,
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-ready {
  color: #bbb;
  border: 1px solid #ddd;
  background-color: #F3F3F3;
  cursor: default;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.down-ing,
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-transfer,
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.update {
  color: #4165F4;
  border: 1px solid #4165F4;
  background-color: #fff;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.down-com,
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-transfer-com {
  color: #222;
  border: 1px solid #222;
  background-color: #fff;
  cursor: default;
}

.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn span,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob .btn span {
  display: inline-block;
  width: 100%;
  min-width: 112px;
  line-height: 1;
  white-space: nowrap;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-notsup span,
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-ready span {
  font-size: 12px;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob .btn span {
  width: 100%;
}
.app-wrap .container .mytextbook-list ul.list {
  display: none;
}
.app-wrap .container .mytextbook-list ul.list li:not(:last-child) {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #eee;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img {
  position: relative;
  width: 97px;
  min-width: 97px;
  max-width: 97px;
  height: 130px;
  min-height: 130px;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img.ebook::after {
  content: "";
  position: absolute;
  top: -2px;
  left: calc(50% - 24px);
  width: 48px;
  height: 13px;
  background: url("../imgs/ebook-ico.png") center center/ cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img.correct::before {
  content: '';
  position: absolute;
  top: -2px;
  right: 0;
  width: 20px;
  height: 26px;
  background: url("../imgs/correct-ico.png") center center / cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img i.flag-s {
  position: absolute;
  right: -3px;
  bottom: 7px;
  width: 34px;
  height: 34px;
  background: url("../imgs/flag-subscribe.png") center center/ cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img .hover-btns {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97px;
  height: 100%;
  background-color: rgba(0,0,0, 0.6);
  z-index: 10;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img .hover-btns button {
  width: 70px;
  height: 32px;
  color: #222;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  padding: 6.5px 12px;
  border-radius: 4px;
  background-color: #fff;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp {
  position: relative;
  width: 100%;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp h4 {
  color: #222;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl:not(:last-child) {
  margin-bottom: 8px;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl dt {
  width: 120px;
  color: #222;
  font-size: 14px;
  font-weight: 500;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl.purch-date dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  vertical-align: -4px;
  background: url('../imgs/buy-ico.png') center center / cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl.down-date dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  vertical-align: -4px;
  background: url('../imgs/down-ico.png') center center / cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl.expir-date dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  vertical-align: -4px;
  background: url('../imgs/time-ico.png') center center / cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl dd {
  color: #888;
  font-size: 14px;
  font-weight: 400;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob {
  display: none;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 140px;
  height: 118px;
  color: #BBB;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #bbb;
  box-sizing: border-box;
}

.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-expir {
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: default;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.down-expir,
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-notsup,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.gnote-notsup,
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-ready,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.gnote-ready {
  border: 1px solid #ddd;
  background-color: #F3F3F3;
  cursor: default;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-ing,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.down-ing,
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-transfer,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.gnote-transfer,
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.update,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.update {
  color: #4165F4;
  border: 1px solid #4165F4;
  background-color: #fff;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-com,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.down-com,
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-transfer-com,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.gnote-transfer-com {
  color: #222;
  border: 1px solid #222;
  background-color: #fff;
  cursor: default;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn::after {
  content: '';
  position: absolute;
  top: 8px;
  right: -3px;
  width: 40px;
  height: 34px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-expir::after {
  background-image: url("../imgs/flag-expir.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-com::after,
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-transfer-com::after {
  background-image: url("../imgs/flag-com.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-notsup::after {
  background-image: url("../imgs/flag-notsup.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-ready::after {
  background-image: url("../imgs/flag-ready.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn i.icon {
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn i.icon {
  position: absolute;
  left: 16px;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-expir i.icon {
  background-image: url("../imgs/list-down-expir-ico.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-ing i.icon {
  background-image: url("../imgs/list-down-ing-ico.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-com i.icon {
  background-image: url("../imgs/list-down-com-black-ico.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-notsup i.icon {
  background-image: url("../imgs/list-gnote-notsup-ico.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-ready i.icon {
  background-image: url("../imgs/list-gnote-ready-ico.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-transfer i.icon {
  background-image: url("../imgs/list-gnote-transfer-ico.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-transfer-com i.icon {
  background-image: url("../imgs/list-gnote-transfer-black-ico.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.update i.icon {
  background-image: url("../imgs/list-update-ico.png");
}

/* 학습관리시스템 CSS 추가 */
.mngt-wrap { position: relative; }
.mngt-wrap .container {
  position: relative;
  width: 100%;
  max-width: 1094px;
  line-height: 1;
  padding: 0;
  margin: 0 auto;
}
.mngt-wrap .container .title-box {
  margin-bottom: 24px;
}
.mngt-wrap .container .title-box h2 {
  display: flex;
  align-items: center;
  color: #222;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}
.mngt-wrap .container .title-box p {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}
.mngt-wrap .container .contents {
  position: relative;
}
.mngt-wrap .container .contents table.learn {
  margin-bottom: 40px;
  border-top: 1px solid #666;
}
.mngt-wrap .container .contents table.learn thead tr th {
  height: 72px;
  color: #888;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  padding: 14px 0px;
  border-bottom: 1px solid #ccc;
  background-color: #F7F7F7;
}
.mngt-wrap .container .contents table.learn thead tr th:not(:last-child) {
  border-right: 1px solid #eee;
}
.mngt-wrap .container .contents table.learn tbody tr td {
  min-height: 73px;
  color: #444;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  text-align: center;
  padding: 25.5px 0px;
  border-bottom: 1px solid #eee;;

}
.mngt-wrap .container .contents table.learn tbody tr td:not(:last-child) {
  border-right: 1px solid #eee;
}
.mngt-wrap .container .contents table.learn tbody tr td.left {
  text-align: left;
  padding-left: 16px;
}
.mngt-wrap .container .contents table.learn tbody tr td div.value {
  display: inline-block;
  line-height: 160%;
}
.mngt-wrap .container .contents table.learn tbody tr td .current-val {
  font-size: 13px;
}
.mngt-wrap .container .contents table.learn tbody tr td .current-val::after {
  content: ' /';
  color: #444;
}
.mngt-wrap .container .contents table.learn tbody tr td .total-val {
  color: #444;
  font-size: 13px;
  font-weight: 400;
}
.mngt-wrap .container .contents table.learn tbody tr td div.progress {
  position: relative;
  display: inline-block;
  width: 100px;
  max-width: 100px;
  height: 10px;
  border-radius: 32px;
  background-color: #E7E7E7;
}
.mngt-wrap .container .contents table.learn tbody tr td div.progress > span.score {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  border-radius: 32px;
}
.mngt-wrap .container .contents table.learn tbody tr td button.goDetails {
  width: 68px;
  height: 32px;
  color: #222;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding: 6.5px 0px;
  border-radius: 4px;
  border: 1px solid #BBB;
  background-color: #fff;
}
.mngt-wrap .container .contents table.learn tbody tr td span.user-name {
  position: relative;
  display: block;
  color: #444;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}
.mngt-wrap .container .contents table.learn tbody tr td span.user-name:not(:last-child) {
  margin-bottom: 8px;
}
.mngt-wrap .container .contents table.learn .info::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  vertical-align: -4px;
  background: url("../imgs/info-ico.png") center center / cover no-repeat;
  cursor: pointer;
}
.mngt-wrap .container .helpTip {
  display: none;
  position: absolute;
  top: auto;
  left: auto;
  width: auto;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  white-space: nowrap;
  text-align: center;
  padding: 4px 12px;
  border-radius: 4px;
  background: #484848;
}
.mngt-wrap .container .helpTip::after {
  content: "";
  position: absolute;
  top: -6px;
  left: calc(50% - 10px);
  border-top: 10px solid #484848;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 0px solid transparent;
  transform: rotate(180deg);
}
.mngt-wrap .container .contents .toggle-box {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.mngt-wrap .container .contents .toggle-box:not(:last-child) {
  margin-bottom: 18px;
}
.mngt-wrap .container .contents .toggle-box .switch {
  display: block;
  position: relative;
  width: 40px;
  height: 12px;
  border-radius: 9px;
  background: #DDE1E4;
  cursor: pointer;
}
.mngt-wrap .container .contents .toggle-box .switch .toggle-after {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 22px;
  height: 22px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #F7F7F8;
  box-shadow: 0px 2px 3px 0px #0000001A;
}
.mngt-wrap .container .contents .toggle-box .switch.active .toggle-after {
  left: calc(100% - 22px);
  background-color: #4165F4;
}
.mngt-wrap .container .contents .toggle-box .switch.active {
  background-color: #92A4FF;
}
.mngt-wrap .container .contents .toggle-box .switch, .toggle-after {
  transition: all 0.2s ease-in;
}
.mngt-wrap .container .contents .btn-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.mngt-wrap .container .btn-box button.more-btn {
  position: relative;
  width: 160px;
  height: 56px;
  color: #222;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #bbb;
  background-color: #fff;
}
.mngt-wrap .container .btn-box button.more-btn::after {
  content: '';
  display: inline-block;
  width: 21px;
  height: 15px;
  margin-left: 10px;
  vertical-align: -2px;
  background: url("../imgs/more-ico.png") center center / cover no-repeat;
}
.mngt-wrap .container .contents .class-box {
  position: relative;
  width: 1094px;
  height: 140px;
  padding: 42.5px 0px;
  border-radius: 12px;
  cursor: pointer;
}
.mngt-wrap .container .contents .class-box.create {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
  height: 206px;
  padding: 40px 0px;
  border: 2px dashed #4165F4;
  cursor: pointer;
}
.mngt-wrap .container .contents .class-box.create button.create-ico {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #4165F4;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}
.mngt-wrap .container .contents .class-box.create button.create-ico::before {
  content: '';
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-bottom: 10px;
  background: url("../imgs/class-create-ico.png") center center / cover no-repeat;
}
.mngt-wrap .container .contents .class-box.create > p {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}
.mngt-wrap .container .contents .class-box.create > p span {
  display: inline-block;
  width: 126px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 160%;
  margin-left: 12px;
  padding: 6px 16px;
  border-radius: 32px;
  background-color: #4165F4;
}
.mngt-wrap .container .contents .class-box.create > p span::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: -3px;
  background: url("../imgs/check-white-ico.png") center center / cover no-repeat;
}
.mngt-wrap .container .contents .class-box:not(:last-child) {
  margin-bottom: 20px;
}
.mngt-wrap .container .contents .class-box .class-delete-ico {
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.mngt-wrap .container .contents .class-box .class-delete-ico::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  vertical-align: -4px;
  background: url("../imgs/class-delete-ico.png") center center / cover no-repeat;
}
.mngt-wrap .container .contents .class-box .class-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60.25px;
}
.mngt-wrap .container .contents .class-box .class-inner .class-item {
  text-align: center;
}
.mngt-wrap .container .contents .class-box .class-inner .class-item h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}
.mngt-wrap .container .contents .class-box .class-inner .class-item h4 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 160%;
}
.mngt-wrap .container .contents .class-box .class-inner .class-item span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
.mngt-wrap .container .contents .class-box .class-inner .class-item span.calendar::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 2px;
  vertical-align: -6px;
  background: url("../imgs/class-calendar-ico.png") center center / cover no-repeat;
}
.mngt-wrap .container .contents .class-box .class-inner .class-item span > b {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
}
.mngt-wrap .container .contents .class-box .class-inner .class-item button {
  height: 34px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  white-space: nowrap;
  padding: 6px 20px;
  border-radius: 32px;
  background-color: rgba(0,0,0, 0.2);
}
.mngt-wrap .container .contents .class-box .class-inner .class-item button:not(:last-child) {
  margin-right: 8px;
}

/* 신규 학급 생성 */
.mngt-wrap .container .contents .create-box {
  position: relative;
  width: 1094px;
  padding: 30px 40px;
  margin-bottom: 40px;
  border-radius: 12px;
  background-color: #F3F8FF;
}
.mngt-wrap .container .contents .create-box dl {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.mngt-wrap .container .contents .create-box dl:not(:last-child) {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #C6D9E9;
}
.mngt-wrap .container .contents .create-box dl dt {
  width: 140px;
  color: #444;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
.mngt-wrap .container .contents .create-box dl dd {
  color: #444;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
.mngt-wrap .container .contents .create-box dl.school dd {
  width: 210px;
}
.mngt-wrap .container .contents .create-box dl.class-name dd:not(:last-child) {
  margin-right: 48px;
}
.mngt-wrap .container .contents .create-box dl dd input[type="text"],
.mngt-wrap .container .contents .create-box dl.class-date dd input[type="date"] {
  color: #222;
  font-size: 14px;
  font-weight: 400;
  padding: 13px 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.mngt-wrap .container .contents .create-box dl dd span {
  color: #222;
  font-weight: 400;
  font-size: 16px;
}
.mngt-wrap .container .contents .create-box dl dd input.w160 {
  width: 160px;
}
.mngt-wrap .container .contents .create-box dl dd input.mr48 {
  margin-right: 48px;
}
.mngt-wrap .container .contents .create-box dl dd input.w60 {
  width: 60px;
  margin-right: 12px;
}
.mngt-wrap .container .contents .create-box dl.class-date dd span {
  color: #888;
  font-weight: 400;
  font-size: 14px;
}
.mngt-wrap .container .contents .create-box dl.textbook > dt {
  min-width: 140px;
}
.mngt-wrap .container .contents .create-box dl.textbook > dd {
  width: 100%;
}
.mngt-wrap .container .contents .create-box dl.textbook dd div.textbook-box {
  height: 254px;
  padding: 16px 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.mngt-wrap .container .contents .create-box dl.textbook dd div.textbook-box .search-form {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #BBB;
}
.mngt-wrap .container .contents .create-box dl.textbook dd div.textbook-box .search-form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
  border-radius: 0;
}
.mngt-wrap .container .contents .create-box dl.textbook dd div.textbook-box .search-form input::placeholder {
  color: #ccc;
  font-size: 16px;
  font-weight: 400;
}
.mngt-wrap .container .contents .create-box dl.textbook dd div.textbook-box .search-form::after {
  content: '';
  position: absolute;
  top: 6px;
  right: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url("../imgs/search-ico.png") center center / cover no-repeat;
}
.mngt-wrap .container .contents .create-box dl.textbook dd div.textbook-box .list-form {
  position: relative;
  height: 162px;
  margin-top: 12px;
  padding-bottom: 12px;
  overflow-y: auto;
}
.mngt-wrap .container .contents .create-box dl.textbook dd div.textbook-box .list-form ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}
.mngt-wrap .container .contents .create-box dl.textbook dd div.textbook-box .list-form ul li {
  display: flex;
  width: 320px;
}
.mngt-wrap .container .contents .create-box dl.textbook dd div.textbook-box .list-form ul li input[type="checkbox"] + label {
  color: #666;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  vertical-align: middle;
}
.mngt-wrap .container .contents .create-box dl.textbook dd div.textbook-box .list-form ul li input[type="checkbox"] + label:before {
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  border-radius: 50%;
  background: #fff url("../imgs/menu-check-ico.png") center center / cover no-repeat;
}
.mngt-wrap .container .contents .create-box dl.textbook dd div.textbook-box .list-form ul li input[type="checkbox"]:checked + label:before {
  font-size: 0;
  background: url("../imgs/menu-check-on-ico.png") center center/cover no-repeat;
}
.mngt-wrap .container .contents .create-box .color-box ul {
  display: flex;
  flex-direction: row;
  gap: 39.82px;
}
.mngt-wrap .container .contents .create-box .color-box ul li.color-code {
  position: relative;
}
.mngt-wrap .container .contents .create-box .color-box ul li.color-code button {
  position: relative;
  width: 48px;
  height: 48px;
  outline: none;
  font-size: 0;
  border-radius: 50%;
}
.mngt-wrap .container .contents .create-box .color-box ul li.color-code button.yellow {
  background-color: #FFE401;
}
.mngt-wrap .container .contents .create-box .color-box ul li.color-code button.cupid {
  background-color: #FCC1C7;
}
.mngt-wrap .container .contents .create-box .color-box ul li.color-code button.pink {
  background-color: #FF8B98;
}
.mngt-wrap .container .contents .create-box .color-box ul li.color-code button.carrot {
  background-color: #FF8F3E;
}
.mngt-wrap .container .contents .create-box .color-box ul li.color-code button.cranberry {
  background-color: #DD5A7A;
}
.mngt-wrap .container .contents .create-box .color-box ul li.color-code button.turquoise {
  background-color: #13BFE5;
}
.mngt-wrap .container .contents .create-box .color-box ul li.color-code button.meadow {
  background-color: #1EAD82;
}
.mngt-wrap .container .contents .create-box .color-box ul li.color-code button.mountain {
  background-color: #1EAD4A;
}
.mngt-wrap .container .contents .create-box .color-box ul li.color-code button.lochmara {
  background-color: #0080DE;
}
.mngt-wrap .container .contents .create-box .color-box ul li.color-code button.blue {
  background-color: #0061D3;
}
.mngt-wrap .container .contents .create-box .color-box ul li.color-code button.waikawa {
  background-color: #54678F;
}
.mngt-wrap .container .contents .create-box .color-box ul li.color-code button.emperor {
  background-color: #555555;
}
.mngt-wrap .container .contents .create-box .color-box ul li.color-code button.active::after {
  content: '';
  position: absolute;
  top: calc(50% - 7.5px);
  left: calc(50% - 10px);
  width: 20px;
  height: 15px;
  background: url("../imgs/color-check-ico.png") center center / cover no-repeat;
  z-index: 10;
}
.mngt-wrap .container .btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 1094px;
}
.mngt-wrap .container .contents .btn-box button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 56px;
  color: #222;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  border: 1px solid #BBB;
}
.mngt-wrap .container .contents .btn-box button.save-btn {
  color: #4165F4;
  border: 1px solid #4165F4;
}
.mngt-wrap .container .contents .btn-box button.cancel-btn::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background: url("../imgs/cancel-ico.png") center center / cover no-repeat;
}
.mngt-wrap .container .contents .btn-box button.save-btn::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background: url("../imgs/save-ico.png") center center / cover no-repeat;
}

/* 학생별 학습이력 */
.mngt-wrap .container .title-box h2 > span.c-date {
  display: inline-block;
  color: #4165F4;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  text-align: center;
  padding: 0 12px;
  margin-left: 12px;
  border-radius: 32px;
  background-color: #DFE9FF;
}
.mngt-wrap .container .tab-con {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  width: 100%;
  margin-bottom: 25px;
}
.mngt-wrap .container .tab-con::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #4165F4;
}
.mngt-wrap .container .tab-con button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  font-size: 15px;
  font-weight: 500;
  height: 44px;
  padding: 13px 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top: 1px solid #BBB;
  border-left: 1px solid #BBB;
  border-right: 1px solid #BBB;
  border-bottom: none;
  background-color: #F7F7F7;
  z-index: 0;
}
.mngt-wrap .container .tab-con button.active {
  color: #4165F4;
  font-weight: 700;
  border-top: 1px solid #4165F4;
  border-left: 1px solid #4165F4;
  border-right: 1px solid #4165F4;
  border-bottom: 1px solid #fff;
  background-color: #fff;
  z-index: 2;
}

.mngt-wrap .container .student-contents {
  display: block;
  position: relative;
  border-top: 1px solid #666;
  border-bottom: 1px solid #bbb;
  margin-bottom: 40px;
}
.mngt-wrap .container .student-contents ul.th {
  display: table;
}
.mngt-wrap .container .student-contents ul li {
  display: table-cell;
  width: 181.5px;
  line-height: 1.5;
  text-align: center;
  padding: 16px 0px;
}
.mngt-wrap .container .student-contents ul.th li {
  position: relative;
  color: #888;
  font-size: 14px;
  font-weight: 400;
  background-color: #F7F7F7; 
}
.mngt-wrap .container .student-contents ul.th li:not(:last-child) {
  border-right: 1px solid #eee;
}
.mngt-wrap .container .student-contents div.detail-inner ul.th li {
  position: relative;
  color: #122570;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  padding: 12px 0px;
  border-bottom: 1px solid #ccc;
  background-color: #F3F8FF;
}
.mngt-wrap .container .student-contents ul.td:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.mngt-wrap .container .student-contents ul.td li {
  position: relative;
  color: #444;
  font-size: 14px;
  font-weight: 400;
}
.mngt-wrap .container .student-contents ul.td li a:hover {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}
.mngt-wrap .container .student-contents ul.td li.detail-btn {
  cursor: pointer;
}
.mngt-wrap .container .student-contents ul.td li.detail-btn::after {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  width: 16px;
  height: 16px;
  margin-left: 4px;
  background: url("../imgs/accordion-ico.png") center center / cover no-repeat;
  transform: rotateZ(180deg);
  transition: all 0.35s;
}
.mngt-wrap .container .student-contents ul.td li.detail-btn.active::after {
  content: "";
  transform: rotateZ(0deg);
  transition: all 0.35s;
}
.mngt-wrap .container .student-contents div.detail-inner {
  position: relative;
  height: 0;
  overflow: hidden;
  border-bottom: none;
}
.mngt-wrap .container .student-contents div.detail-inner.open {
  height: 100%;
  border-bottom: 1px solid #666;
}
.mngt-wrap .container .student-contents div.detail-inner ul.td li {
  position: relative;
  height: 73px;
  color: #444;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  padding: 13.5px 0px;
  vertical-align: middle;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}
.mngt-wrap .container .student-contents div.detail-inner ul li:nth-child(1) {
  width: 501px;
  border-right: 1px solid #eee;
}
.mngt-wrap .container .student-contents div.detail-inner ul li:nth-child(2) {
  width: 160px;
  border-right: 1px solid #eee;
}
.mngt-wrap .container .student-contents div.detail-inner ul li:nth-child(3) {
  width: 88px;
  border-right: 1px solid #eee;
}
.mngt-wrap .container .student-contents div.detail-inner ul li:nth-child(4) {
  width: 132px;
  border-right: 1px solid #eee;
}
.mngt-wrap .container .student-contents div.detail-inner ul li:nth-child(5) {
  width: 88px;
  border-right: 1px solid #eee;
}
.mngt-wrap .container .student-contents div.detail-inner ul li:nth-child(6) {
  width: 120px;
}
.mngt-wrap .container .student-contents ul.th li.info::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  vertical-align: -5px;
  background: url("../imgs/info-ico.png") center center / cover no-repeat;
  cursor: pointer;
}
.mngt-wrap .container .student-contents ul.th li.info::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  vertical-align: -5px;
  background: url("../imgs/info-ico.png") center center / cover no-repeat;
  cursor: pointer;
}
.mngt-wrap .container .student-contents div.detail-inner ul.td li .current-val {
  font-size: 13px;
}
.mngt-wrap .container .student-contents div.detail-inner ul.td li .current-val::after {
  content: ' /';
  color: #444;
}
.mngt-wrap .container .student-contents div.detail-inner ul.td li .total-val {
  color: #444;
  font-size: 13px;
  font-weight: 400;
}
.mngt-wrap .container .student-contents div.detail-inner ul.td li div.progress {
  position: relative;
  display: inline-block;
  width: 100px;
  max-width: 100px;
  height: 10px;
  border-radius: 32px;
  background-color: #E7E7E7;
}
.mngt-wrap .container .student-contents div.detail-inner ul.td li div.progress > span.score {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  border-radius: 32px;
}
.mngt-wrap .container .student-contents div.detail-inner ul.td li button.goDetails {
  width: 68px;
  height: 32px;
  color: #222;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding: 6.5px 0px;
  border-radius: 4px;
  border: 1px solid #BBB;
  background-color: #fff;
}
.mngt-wrap .container .textbook-contents {
  display: none;
}
.mngt-wrap .container .textbook-contents .btns-box {
  padding-bottom: 0;
  margin-bottom: 16px;
  border-bottom: none;
}
.mngt-wrap .container .textbook-contents .btns-box .types select {
  width: 200px;
}
.mngt-wrap .container .textbook-contents .contents table.learn tbody tr td {
  padding: 13.5px 0px;
}
.mngt-wrap .container .alias-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.mngt-wrap .container .alias-popup .inner {
  width: 400px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0px 8px 14px 0px #00000040;
}
.mngt-wrap .container .alias-popup .inner .title {
  position: relative;
  padding: 12px 24px;
}
.mngt-wrap .container .alias-popup .inner .title h2 {
  color: #222;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
}
.mngt-wrap .container .alias-popup .inner .title span.close {
  position: absolute;
  top: calc(50% - 12px);
  right: 12px;
  width: 24px;
  height: 24px;
  font-size: 0;
  background: url("../imgs/close-ico.png") center center / cover no-repeat;
  cursor: pointer;
}
.mngt-wrap .container .alias-popup .con-box {
  position: relative;
  padding: 20px;
  margin: 0 24px 24px;
  border-radius: 8px;
  background-color: #F3F8FF;
}
.mngt-wrap .container .alias-popup .con-box p {
  position: relative;
  color: #666;
  font-size: 13px;
  font-weight: 400;
}
.mngt-wrap .container .alias-popup .con-box p:first-child {
  margin-bottom: 4px;
}
.mngt-wrap .container .alias-popup .con-box p {
  margin-bottom: 20px;
}
.mngt-wrap .container .alias-popup .con-box p::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: -5px;
  margin-right: 4px;
  background: url("../imgs/info-ico.png") center center / cover no-repeat;
}
.mngt-wrap .container .alias-popup .con-box .input-form {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.mngt-wrap .container .alias-popup .con-box .input-form input {
  position: relative;
  width: 238px;
  height: 48px;
  color: #222;
  padding: 13px 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.mngt-wrap .container .alias-popup .con-box .input-form input::placeholder {
  color: #ccc;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}
.mngt-wrap .container .alias-popup .con-box .input-form button.save-btn {
  width: 66px;
  height: 48px;
  color: #4165F4;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  padding: 14px 0px;
  border-radius: 8px;
  border: 1px solid #4165F4;
  box-sizing: border-box;
  background-color: #fff;
}
.mngt-wrap .container .alias-popup .btn-box {
  width: 100%;
  margin-bottom: 24px;
}
.mngt-wrap .container .alias-popup .btn-box button.clear-btn {
  width: 80px;
  height: 36px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  padding: 9.5x 0px;
  border-radius: 8px;
  border: 1px solid #4165F4;
  box-sizing: border-box;
  background-color: #4165F4;
}

.mngt-wrap .container .current-val.do {
  color: #4165F4;
  font-weight: 700;
}
.mngt-wrap .container .progress span.score.do {
  background-color: #4165F4;
}
.mngt-wrap .container .current-val.full {
  color: #F55149;
  font-weight: 700;
}
.mngt-wrap .container .progress span.score.full {
  background-color: #F55149;
}
.mngt-wrap .container .problem-status {
  color: #444;
  font-size: 12px;
  font-weight: 400;
}






@media all and (max-width: 852px) {
  .app-wrap .container .mytextbook-list ul.list li .list-btns {
    top: 48px;
  }
  .app-wrap .container .mytextbook-list ul.list li .list-btns button.btn {
    height: 88px;
  }
  .app-wrap .container .mytextbook-list ul.list li .list-btns button.btn i.icon {
    width: 36px;
    height: 36px;
  }
  .app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn {
    font-size: 12px;
  }
}

@media all and (max-width: 750px) {
  .app-wrap .container .mytextbook-list ul.list li .list-flex {
    margin-bottom: 20px;
  }
  .app-wrap .container .mytextbook-list ul.list li .list-btns {
    display: none;
  }
  .app-wrap .container .mytextbook-list ul.list li .list-btns-mob {
    display: flex;
    gap: 8px;
  }
  .app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40px;
    color: #BBB;
    font-size: 12px;
    font-weight: 700;
    line-height: 160%;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #F3F3F3;
    box-sizing: border-box;
  }
}

@media all and (max-width: 650px) {
  .btns-box {
    display: flex;
    justify-content: flex-end;
  }
	.btns-box ul {
    display: none;
  }
}

@media all and (max-width: 400px) {
  .btns-box .types select {
    width: 114px;
  }
}
