select {
  width: 100%;
  height: 40px;
  color: #333;
  padding: 0 30px 0 10px;
  border-radius: 0;
  border: 1px solid #cfcfcf;
  background: #fff url('../imgs/input_select.png') right center/ 24px no-repeat;
}
.container {
  position: relative;
  margin: 0;
  padding: 20px;
}

/* APP 내려받기 */
.app-wrap { position: relative; }
.btns-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}
.btns-box ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.btns-box ul li {
  color: #222;
  font-size: 15px;
  font-weight: 400;
  margin-right: 12px;
  padding-right: 12px;
  cursor: pointer;
}
.btns-box ul li:not(:last-child) {
  border-right: 1px solid #ddd;
}
.btns-box ul li:last-child {
  padding-right: 0;
  margin-right: 0;
}
.btns-box ul li.active {
  color: #4165F4;
  font-size: 15px;
  font-weight: 700;
}
.btns-box ul li.active::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 12px;
  margin-right: 6px;
  background: url("../imgs/check-ico.png") center center/cover no-repeat;
}
.btns-box .types {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.btns-box .types select {
  width: 130px;
  height: 48px;
  color: #222;
  font-weight: 400;
  font-size: 14px;
  padding: 0 20px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  cursor: pointer;
}
.btns-box .types select option {
  color: #222;
  font-weight: 400;
  font-size: 14px;
}
.btns-box .types button {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-align: center;
  vertical-align: top;
  border-radius: 8px;
  border: 1px solid #d9d9da;
  background-color: #fff;
}
.btns-box .types button.album-type::after {
  content: '';
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  width: 24px;
  height: 24px;
  background: url("../imgs/album-off-ico.png") center center/cover no-repeat;
  transition: all 0.25s;
}
.btns-box .types button.album-type.on::after {
  content: '';
  background: url("../imgs/album-on-ico.png") center center/cover no-repeat;
}
.btns-box .types button.list-type::after {
  content: '';
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  width: 24px;
  height: 22px;
  background: url("../imgs/list-off-ico.png") center center/cover no-repeat;
  transition: all 0.25s;
}
.btns-box .types button.list-type.on::after {
  content: '';
  background: url("../imgs/list-on-ico.png") center center/cover no-repeat;
}
.btns-box .types button.filter-type {
  display: none;
}
.btns-box ul li.active::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 12px;
  margin-right: 6px;
  background: url("../imgs/check-ico.png") center center/cover no-repeat;
}

.app-wrap .container .mytextbook-list {
  position: relative;
}
.app-wrap .container .mytextbook-list ul.album {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 3%;
  row-gap: 40px;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.app-wrap .container .mytextbook-list ul.album li {
  width: 100%;
  max-width: 218px;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-img {
  position: relative;
  width: 100%;
  min-width: 180px;
  height: auto;
  margin-bottom: 16px;
  border: 1px solid #eee;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-img.ebook::after {
  content: "";
  position: absolute;
  top: -4px;
  left: calc(50% - 45px);
  width: 90px;
  height: 24px;
  background: url("../imgs/ebook-ico.png") center center/ cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-img.correct::before {
  content: '';
  position: absolute;
  top: -6px;
  right: 0;
  width: 44px;
  height: 53px;
  background: url("../imgs/correct-ico.png") center center / cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-img img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  border: 1px solid #eee;
  aspect-ratio: 1 / 1.3;
}

.app-wrap .container .mytextbook-list ul.album li .thumb-img i.flag-s {
  position: absolute;
  right: -3px;
  bottom: 7px;
  width: 34px;
  height: 34px;
  background: url("../imgs/flag-subscribe.png") center center/ cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-img .hover-btns {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.6);
  z-index: 10;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-img .hover-btns button {
  width: 140px;
  height: 40px;
  color: #222;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  padding: 9.5px 45px;
  border-radius: 6px;
  background-color: #fff;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  margin-bottom: 20px;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text dl {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text dl dt {
  position: relative;
  width: 80%;
  min-width: 120px;
  color: #222;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  padding-left: 24px;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text dl.time dt::before {
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../imgs/time-ico.png") center center / 20px 20px no-repeat;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text dl.time.buy dt::before {
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../imgs/round-check-ico.png") center center / 20px 20px no-repeat;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text dl.down dt::before {
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../imgs/down-ico.png") center center / 20px 20px no-repeat;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text dl dd {
  color: #888;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 100%;
  min-width: 180px;
  height: 48px;
  font-size: 13px;
  font-weight: 700;
  padding: 10px 16px;
  border-radius: 8px;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.down-ing,
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.down-com,
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-transfer,
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-transfer-com,
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.update {
  color: #4165F4;
  border: 1px solid #4165F4;
  background-color: #fff;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.down-expir,
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-notsup,
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-ready {
  color: #bbb;
  border: 1px solid #ddd;
  background-color: #F3F3F3;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn span,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob .btn span {
  display: inline-block;
  width: 80%;
  min-width: 112px;
  line-height: 1;
  white-space: nowrap;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob .btn span {
  width: 100%;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn::before,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob .btn::before {
  content: '';
  display: inline-block;
  width: 28px;
  min-width: 28px;
  height: 28px;
  min-height: 28px;
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: center center;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.down-expir::before {
  background-image: url("../imgs/down-expir-ico.png");
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.down-ing::before {
  background-image: url("../imgs/down-ing-ico.png");
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.down-com::before {
  background-image: url("../imgs/down-com-ico.png");
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-notsup::before {
  background-image: url("../imgs/gnote-notsup-ico.png");
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-ready::before {
  background-image: url("../imgs/gnote-ready-ico.png");
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-transfer::before {
  background-image: url("../imgs/gnote-transfer-ico.png");
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-transfer-com::before {
  background-image: url("../imgs/gnote-transfer-ico.png");
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.update::before {
  background-image: url("../imgs/update-ico.png");
}

.app-wrap .container .mytextbook-list ul.list {
  display: none;
}
.app-wrap .container .mytextbook-list ul.list li:not(:last-child) {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #eee;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img {
  position: relative;
  width: 97px;
  min-width: 97px;
  max-width: 97px;
  height: 130px;
  min-height: 130px;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img.ebook::after {
  content: "";
  position: absolute;
  top: -2px;
  left: calc(50% - 24px);
  width: 48px;
  height: 13px;
  background: url("../imgs/ebook-ico.png") center center/ cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img.correct::before {
  content: '';
  position: absolute;
  top: -2px;
  right: 0;
  width: 20px;
  height: 26px;
  background: url("../imgs/correct-ico.png") center center / cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img i.flag-s {
  position: absolute;
  right: -3px;
  bottom: 7px;
  width: 34px;
  height: 34px;
  background: url("../imgs/flag-subscribe.png") center center/ cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img .hover-btns {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97px;
  height: 100%;
  background-color: rgba(0,0,0, 0.6);
  z-index: 10;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img .hover-btns button {
  width: 70px;
  height: 32px;
  color: #222;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  padding: 6.5px 12px;
  border-radius: 4px;
  background-color: #fff;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp {
  position: relative;
  width: 100%;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp h4 {
  color: #222;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl:not(:last-child) {
  margin-bottom: 8px;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl dt {
  width: 120px;
  color: #222;
  font-size: 14px;
  font-weight: 500;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl.purch-date dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  vertical-align: -4px;
  background: url('../imgs/buy-ico.png') center center / cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl.down-date dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  vertical-align: -4px;
  background: url('../imgs/down-ico.png') center center / cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl.expir-date dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  vertical-align: -4px;
  background: url('../imgs/time-ico.png') center center / cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl dd {
  color: #888;
  font-size: 14px;
  font-weight: 400;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob {
  display: none;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 140px;
  height: 118px;
  color: #BBB;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #bbb;
  box-sizing: border-box;
}

.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-expir {
  border: 1px solid #ddd;
  background-color: #fff;
}

.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.down-expir,
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-notsup,
.app-wrap .container .mytextbook-list ul.list li .list-btn-mob button.btn.gnote-notsup,
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-ready,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.gnote-ready {
  border: 1px solid #ddd;
  background-color: #F3F3F3;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-ing,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.down-ing,
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-com,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.down-com,
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-transfer,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.gnote-transfer,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.gnote-transfer-com,
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.update,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.update {
  color: #4165F4;
  border: 1px solid #4165F4;
  background-color: #fff;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn::after {
  content: '';
  position: absolute;
  top: 8px;
  right: -3px;
  width: 40px;
  height: 34px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-expir::after {
  background-image: url("../imgs/flag-expir.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-com::after,
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-transfer::after {
  background-image: url("../imgs/flag-com.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-notsup::after {
  background-image: url("../imgs/flag-notsup.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-ready::after {
  background-image: url("../imgs/flag-ready.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn i.icon {
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn i.icon {
  position: absolute;
  left: 16px;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-expir i.icon,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.down-expir i.icon {
  background-image: url("../imgs/list-down-expir-ico.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-ing i.icon,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.down-ing i.icon {
  background-image: url("../imgs/list-down-ing-ico.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-com i.icon,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.down-com i.icon {
  background-image: url("../imgs/list-down-com-ico.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-notsup i.icon,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.gnote-notsup i.icon {
  background-image: url("../imgs/list-gnote-notsup-ico.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-ready i.icon,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.gnote-ready i.icon {
  background-image: url("../imgs/list-gnote-ready-ico.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-transfer i.icon,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.gnote-transfer i.icon,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.gnote-transfer-com i.icon {
  background-image: url("../imgs/list-gnote-transfer-ico.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.update i.icon,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.update i.icon {
  background-image: url("../imgs/list-update-ico.png");
}

/* 학습관리시스템 CSS 추가 */
.mngt-wrap { position: relative; }
.mngt-wrap .container {
  position: relative;
  width: 100%;
  max-width: 1094px;
  line-height: 1;
  padding: 0;
  margin: 0 auto;
}
.mngt-wrap .container .title-box {
  margin-bottom: 24px;
}
.mngt-wrap .container .title-box h2 {
  color: #222;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}
.mngt-wrap .container .title-box p {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}
.mngt-wrap .container .contents table.learn {
  margin-bottom: 40px;
  border-top: 1px solid #666;
}
.mngt-wrap .container .contents table.learn thead tr th {
  height: 72px;
  color: #888;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  padding: 14px 0px;
  border-bottom: 1px solid #ccc;
  background-color: #F7F7F7;
}
.mngt-wrap .container .contents table.learn thead tr th:not(:last-child) {
  border-right: 1px solid #eee;
}
.mngt-wrap .container .contents table.learn tbody tr td {
  min-height: 73px;
  color: #444;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  text-align: center;
  padding: 25.5px 0px;
  border-bottom: 1px solid #eee;;

}
.mngt-wrap .container .contents table.learn tbody tr td:not(:last-child) {
  border-right: 1px solid #eee;
}
.mngt-wrap .container .contents table.learn tbody tr td.left {
  text-align: left;
  padding-left: 16px;
}
.mngt-wrap .container .contents table.learn tbody tr td div.value {
  display: inline-block;
  line-height: 160%;
}
.mngt-wrap .container .contents table.learn tbody tr td .current-val {
  color: #4165F4;
  font-size: 13px;
  font-weight: 700;
}
.mngt-wrap .container .contents table.learn tbody tr td .current-val::after {
  content: ' / ';
  color: #444;
}
.mngt-wrap .container .contents table.learn tbody tr td .total-val {
  color: #444;
  font-size: 13px;
  font-weight: 400;
}
.mngt-wrap .container .contents table.learn tbody tr td div.progress {
  position: relative;
  display: inline-block;
  width: 100px;
  max-width: 100px;
  height: 10px;
  border-radius: 32px;
  background-color: #E7E7E7;
}
.mngt-wrap .container .contents table.learn tbody tr td div.progress > span.score {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  border-radius: 32px;
  background-color: #4165F4;
}
.mngt-wrap .container .contents table.learn tbody tr td button.goDetails {
  width: 68px;
  height: 32px;
  color: #222;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding: 6.5px 0px;
  border-radius: 4px;
  border: 1px solid #BBB;
  background-color: #fff;
}
.mngt-wrap .container .contents table.learn tbody tr td span.user-name {
  position: relative;
  display: block;
  color: #444;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}
.mngt-wrap .container .contents table.learn tbody tr td span.user-name:not(:last-child) {
  margin-bottom: 8px;
}
.mngt-wrap .container .contents table.learn .info::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  vertical-align: -4px;
  background: url("../imgs/info-ico.png") center center / cover no-repeat;
  cursor: pointer;
}
.mngt-wrap .container .contents .helpTip {
  display: none;
  position: absolute;
  top: auto;
  left: auto;
  width: auto;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  white-space: nowrap;
  text-align: center;
  padding: 4px 12px;
  border-radius: 4px;
  background: #484848;
}
.mngt-wrap .container .contents .helpTip::after {
  content: "";
  position: absolute;
  top: -6px;
  left: calc(50% - 10px);
  border-top: 10px solid #484848;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 0px solid transparent;
  transform: rotate(180deg);
}
.mngt-wrap .container .contents .toggle-box {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.mngt-wrap .container .contents .toggle-box:not(:last-child) {
  margin-bottom: 18px;
}
.mngt-wrap .container .contents .toggle-box .switch {
  display: block;
  position: relative;
  width: 40px;
  height: 12px;
  border-radius: 9px;
  background: #DDE1E4;
  cursor: pointer;
}
.mngt-wrap .container .contents .toggle-box .switch .toggle-after {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 22px;
  height: 22px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #F7F7F8;
  box-shadow: 0px 2px 3px 0px #0000001A;
}
.mngt-wrap .container .contents .toggle-box .switch.active .toggle-after {
  left: calc(100% - 22px);
  background-color: #4165F4;
}
.mngt-wrap .container .contents .toggle-box .switch.active {
  background-color: #92A4FF;
}
.mngt-wrap .container .contents .toggle-box .switch, .toggle-after {
  transition: all 0.2s ease-in;
}
.mngt-wrap .container .contents .btn-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.mngt-wrap .container .contents .btn-box button.more-btn {
  position: relative;
  width: 160px;
  height: 56px;
  color: #222;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #bbb;
  background-color: #fff;
}
.mngt-wrap .container .contents .btn-box button.more-btn::after {
  content: '';
  display: inline-block;
  width: 21px;
  height: 15px;
  margin-left: 10px;
  vertical-align: -2px;
  background: url("../imgs/more-ico.png") center center / cover no-repeat;
}
.mngt-wrap .container .contents .class-box {
  position: relative;
  width: 1094px;
  height: 140px;
  padding: 42.5px 0px;
  border-radius: 12px;
  cursor: pointer;
}
.mngt-wrap .container .contents .class-box.create {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
  height: 206px;
  padding: 40px 0px;
  border: 2px dashed #4165F4;
  cursor: pointer;
}
.mngt-wrap .container .contents .class-box.create button.create-ico {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #4165F4;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}
.mngt-wrap .container .contents .class-box.create button.create-ico::before {
  content: '';
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-bottom: 10px;
  background: url("../imgs/class-create-ico.png") center center / cover no-repeat;
}
.mngt-wrap .container .contents .class-box.create > p {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}
.mngt-wrap .container .contents .class-box.create > p span {
  display: inline-block;
  width: 126px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 160%;
  margin-left: 12px;
  padding: 6px 16px;
  border-radius: 32px;
  background-color: #4165F4;
}
.mngt-wrap .container .contents .class-box.create > p span::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: -3px;
  background: url("../imgs/check-white-ico.png") center center / cover no-repeat;
}
.mngt-wrap .container .contents .class-box:not(:last-child) {
  margin-bottom: 20px;
}
.mngt-wrap .container .contents .class-box .class-delete-ico {
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.mngt-wrap .container .contents .class-box .class-delete-ico::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  vertical-align: -4px;
  background: url("../imgs/class-delete-ico.png") center center / cover no-repeat;
}
.mngt-wrap .container .contents .class-box .class-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60.25px;
}
.mngt-wrap .container .contents .class-box .class-inner .class-item {
  text-align: center;
}
.mngt-wrap .container .contents .class-box .class-inner .class-item h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}
.mngt-wrap .container .contents .class-box .class-inner .class-item h4 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 160%;
}
.mngt-wrap .container .contents .class-box .class-inner .class-item span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
.mngt-wrap .container .contents .class-box .class-inner .class-item span.calendar::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 2px;
  vertical-align: -6px;
  background: url("../imgs/class-calendar-ico.png") center center / cover no-repeat;
}
.mngt-wrap .container .contents .class-box .class-inner .class-item span > b {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
}
.mngt-wrap .container .contents .class-box .class-inner .class-item button {
  height: 34px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  white-space: nowrap;
  padding: 6px 20px;
  border-radius: 32px;
  background-color: rgba(0,0,0, 0.2);
}
.mngt-wrap .container .contents .class-box .class-inner .class-item button:not(:last-child) {
  margin-right: 8px;
}

@media all and (max-width: 1750px) {
  .app-wrap .container .mytextbook-list ul.album {
    column-gap: 4.3%;
  }
}

@media all and (max-width: 852px) {
  .app-wrap .container .mytextbook-list ul.list li .list-btns {
    top: 48px;
  }
  .app-wrap .container .mytextbook-list ul.list li .list-btns button.btn {
    height: 88px;
  }
  .app-wrap .container .mytextbook-list ul.list li .list-btns button.btn i.icon {
    width: 36px;
    height: 36px;
  }
  .app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn {
    font-size: 12px;
  }
}

@media all and (max-width: 750px) {
  .app-wrap .container .mytextbook-list ul.list li .list-flex {
    margin-bottom: 20px;
  }
  .app-wrap .container .mytextbook-list ul.list li .list-btns {
    display: none;
  }
  .app-wrap .container .mytextbook-list ul.list li .list-btns-mob {
    display: flex;
    gap: 8px;
  }
  .app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40px;
    color: #BBB;
    font-size: 12px;
    font-weight: 700;
    line-height: 160%;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #F3F3F3;
    box-sizing: border-box;
  }
}

@media all and (max-width: 650px) {
  .btns-box {
    display: flex;
    justify-content: flex-end;
  }
	.btns-box ul {
    display: none;
  }
  .app-wrap .container .mytextbook-list ul.album {
    column-gap: 2%;
  }
  
}

@media all and (max-width: 400px) {
  .btns-box .types select {
    width: 114px;
  }
  .app-wrap .container .mytextbook-list ul.album {
    column-gap: normal;
  }
  .app-wrap .container .mytextbook-list ul.album li {
    max-width: 100%;
  }
}
