select {
  width: 100%;
  height: 40px;
  color: #333;
  padding: 0 30px 0 10px;
  border-radius: 0;
  border: 1px solid #cfcfcf;
  background: #fff url('../imgs/input_select.png') right center/ 24px no-repeat;
}
.native-box {
  display:flex;
  align-items:flex-end;
  justify-content: space-between;
  width:100%;
  height:78px;
  color:#000;
  font-size:15px;
  font-weight: bold;
  padding: 0px 20px 20px;
  margin-bottom: 47px;
  background-color:#e4e5e5;
}
.container {
  position: relative;
  margin: 0;
  padding: 20px;
}

/* 학습이력/관리 */
.container .title-form {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0px 24px 22px;
  margin-bottom: 22px;
  border-bottom: 1px solid #5F5FDF;
}
.container .title-form .text h2 {
  font-size: 50px;
  margin-bottom: 10px;
}
.container .title-form .text span {
  display: block;
  color: gray;
  font-size: 18px;
  margin-bottom: 20px;
}
.container .title-form .text button {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px 32px;
  border-radius: 36px;
  background-color: #5F5FDF;
}
.container .title-form .img {
  position: absolute;
  right: 24px;
  bottom: 0;
}
.container .info-form {
  position: relative;
}
.container .info-form h4 {
  color: #000;
  font-size: 30px;
  padding-left: 12px;
  margin-bottom: 10px;
}
.container .info-form span {
  display: block;
  color: gray;
  font-size: 18px;
  padding-left: 12px;
  margin-bottom: 40px;
}
.container .info-form .attch-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
  border-radius: 12px;
  border: 2px dashed #5F5FDF;
  cursor: pointer;
}
.container .info-form .attch-box span {
  display: block;
  color: #5F5FDF;
  text-align: center;
  margin: 0;
}
.container .info-form .attch-box span.big {
  font-size: 60px;
  font-weight: bold;
}
.container .info-form .attch-box span.small {
  font-size: 26px;
  font-weight: normal;
}


/* APP 내려받기 */
.app-wrap { position: relative; }
.btns-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}
.btns-box ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.btns-box ul li {
  color: #222;
  font-size: 15px;
  font-weight: 400;
  margin-right: 12px;
  padding-right: 12px;
  cursor: pointer;
}
.btns-box ul li:not(:last-child) {
  border-right: 1px solid #ddd;
}
.btns-box ul li:last-child {
  padding-right: 0;
  margin-right: 0;
}
.btns-box ul li.active {
  color: #4165F4;
  font-size: 15px;
  font-weight: 700;
}
.btns-box ul li.active::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 12px;
  margin-right: 6px;
  background: url("../imgs/check-ico.png") center center/cover no-repeat;
}
.btns-box .types {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.btns-box .types select {
  width: 130px;
  height: 48px;
  color: #222;
  font-weight: 400;
  font-size: 14px;
  padding: 0 20px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  cursor: pointer;
}
.btns-box .types select option {
  color: #222;
  font-weight: 400;
  font-size: 14px;
}
.btns-box .types button {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-align: center;
  vertical-align: top;
  border-radius: 8px;
  border: 1px solid #d9d9da;
  background-color: #fff;
}
.btns-box .types button.album-type::after {
  content: '';
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  width: 24px;
  height: 24px;
  background: url("../imgs/album-off-ico.png") center center/cover no-repeat;
  transition: all 0.25s;
}
.btns-box .types button.album-type.on::after {
  content: '';
  background: url("../imgs/album-on-ico.png") center center/cover no-repeat;
}
.btns-box .types button.list-type::after {
  content: '';
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  width: 24px;
  height: 22px;
  background: url("../imgs/list-off-ico.png") center center/cover no-repeat;
  transition: all 0.25s;
}
.btns-box .types button.list-type.on::after {
  content: '';
  background: url("../imgs/list-on-ico.png") center center/cover no-repeat;
}
.btns-box .types button.filter-type {
  display: none;
}
.btns-box ul li.active::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 12px;
  margin-right: 6px;
  background: url("../imgs/check-ico.png") center center/cover no-repeat;
}

.app-wrap .container .mytextbook-list {
  position: relative;
}
.app-wrap .container .mytextbook-list ul.album {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  row-gap: 40px;
  column-gap: 3%;
}
.app-wrap .container .mytextbook-list ul.album li {
  width: 100%;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-img {
  position: relative;
  width: 100%;
  min-width: 180px;
  height: auto;
  margin-bottom: 16px;
  border: 1px solid #eee;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-img.ebook::after {
  content: "";
  position: absolute;
  top: -4px;
  left: calc(50% - 45px);
  width: 90px;
  height: 24px;
  background: url("../imgs/ebook-ico.png") center center/ cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-img.correct::before {
  content: '';
  position: absolute;
  top: -6px;
  right: 0;
  width: 44px;
  height: 53px;
  background: url("../imgs/correct-ico.png") center center / cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-img img {
  width: 100%;
  height: 100%;
}

.app-wrap .container .mytextbook-list ul.album li .thumb-img i.flag-s {
  position: absolute;
  right: -3px;
  bottom: 7px;
  width: 34px;
  height: 34px;
  background: url("../imgs/flag-subscribe.png") center center/ cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-img i.flag-i {
  position: absolute;
  right: -3px;
  bottom: 7px;
  width: 34px;
  height: 34px;
  background: url("../imgs/flag-infinity.png") center center/ cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-img .hover-btns {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.6);
  z-index: 10;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-img .hover-btns button {
  width: 140px;
  height: 40px;
  color: #222;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  padding: 9.5px 45px;
  border-radius: 6px;
  background-color: #fff;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  margin-bottom: 20px;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text dl {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text dl dt {
  position: relative;
  width: 80%;
  min-width: 120px;
  color: #222;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  padding-left: 24px;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text dl.time dt::before {
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../imgs/time-ico.png") center center / 20px 20px no-repeat;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text dl.time.buy dt::before {
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../imgs/round-check-ico.png") center center / 20px 20px no-repeat;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text dl.down dt::before {
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../imgs/down-ico.png") center center / 20px 20px no-repeat;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-text dl dd {
  color: #888;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 100%;
  min-width: 180px;
  height: 48px;
  font-size: 13px;
  font-weight: 700;
  padding: 10px 16px;
  border-radius: 8px;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.down-ing,
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.down-com,
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-transfer,
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-transfer-com,
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.update {
  color: #4165F4;
  border: 1px solid #4165F4;
  background-color: #fff;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.down-expir,
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-notsup,
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-ready {
  color: #bbb;
  border: 1px solid #ddd;
  background-color: #F3F3F3;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn span,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob .btn span {
  display: inline-block;
  width: 80%;
  min-width: 112px;
  line-height: 1;
  white-space: nowrap;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob .btn span {
  width: 100%;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn::before,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob .btn::before {
  content: '';
  display: inline-block;
  width: 28px;
  min-width: 28px;
  height: 28px;
  min-height: 28px;
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: center center;
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.down-expir::before {
  background-image: url("../imgs/down-expir-ico.png");
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.down-ing::before {
  background-image: url("../imgs/down-ing-ico.png");
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.down-com::before {
  background-image: url("../imgs/down-com-ico.png");
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-notsup::before {
  background-image: url("../imgs/gnote-notsup-ico.png");
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-ready::before {
  background-image: url("../imgs/gnote-ready-ico.png");
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-transfer::before {
  background-image: url("../imgs/gnote-transfer-ico.png");
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.gnote-transfer-com::before {
  background-image: url("../imgs/gnote-transfer-ico.png");
}
.app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn.update::before {
  background-image: url("../imgs/update-ico.png");
}

.app-wrap .container .mytextbook-list ul.list {
  display: none;
}
.app-wrap .container .mytextbook-list ul.list li:not(:last-child) {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #eee;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img {
  position: relative;
  width: 97px;
  min-width: 97px;
  max-width: 97px;
  height: 130px;
  min-height: 130px;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img.ebook::after {
  content: "";
  position: absolute;
  top: -2px;
  left: calc(50% - 24px);
  width: 48px;
  height: 13px;
  background: url("../imgs/ebook-ico.png") center center/ cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img.correct::before {
  content: '';
  position: absolute;
  top: -2px;
  right: 0;
  width: 20px;
  height: 26px;
  background: url("../imgs/correct-ico.png") center center / cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img i.flag-s {
  position: absolute;
  right: -3px;
  bottom: 7px;
  width: 34px;
  height: 34px;
  background: url("../imgs/flag-subscribe.png") center center/ cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img i.flag-i {
  position: absolute;
  right: -3px;
  bottom: 7px;
  width: 34px;
  height: 34px;
  background: url("../imgs/flag-infinity.png") center center/ cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img .hover-btns {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97px;
  height: 100%;
  background-color: rgba(0,0,0, 0.6);
  z-index: 10;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .thumb-img .hover-btns button {
  width: 70px;
  height: 32px;
  color: #222;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  padding: 6.5px 12px;
  border-radius: 4px;
  background-color: #fff;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp {
  position: relative;
  width: 100%;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp h4 {
  color: #222;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl:not(:last-child) {
  margin-bottom: 8px;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl dt {
  width: 120px;
  color: #222;
  font-size: 14px;
  font-weight: 500;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl.purch-date dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  vertical-align: -4px;
  background: url('../imgs/buy-ico.png') center center / cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl.down-date dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  vertical-align: -4px;
  background: url('../imgs/down-ico.png') center center / cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl.expir-date dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  vertical-align: -4px;
  background: url('../imgs/time-ico.png') center center / cover no-repeat;
}
.app-wrap .container .mytextbook-list ul.list li .list-flex .list-exp dl dd {
  color: #888;
  font-size: 14px;
  font-weight: 400;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob {
  display: none;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 140px;
  height: 118px;
  color: #BBB;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #bbb;
  box-sizing: border-box;
}

.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-expir {
  border: 1px solid #ddd;
  background-color: #fff;
}

.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.down-expir,
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-notsup,
.app-wrap .container .mytextbook-list ul.list li .list-btn-mob button.btn.gnote-notsup,
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-ready,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.gnote-ready {
  border: 1px solid #ddd;
  background-color: #F3F3F3;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-ing,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.down-ing,
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-com,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.down-com,
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-transfer,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.gnote-transfer,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.gnote-transfer-com,
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.update,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.update {
  color: #4165F4;
  border: 1px solid #4165F4;
  background-color: #fff;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn::after {
  content: '';
  position: absolute;
  top: 8px;
  right: -3px;
  width: 40px;
  height: 34px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-expir::after {
  background-image: url("../imgs/flag-expir.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-com::after,
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-transfer::after {
  background-image: url("../imgs/flag-com.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-notsup::after {
  background-image: url("../imgs/flag-notsup.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-ready::after {
  background-image: url("../imgs/flag-ready.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn i.icon {
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn i.icon {
  position: absolute;
  left: 16px;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center;
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-expir i.icon,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.down-expir i.icon {
  background-image: url("../imgs/list-down-expir-ico.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-ing i.icon,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.down-ing i.icon {
  background-image: url("../imgs/list-down-ing-ico.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.down-com i.icon,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.down-com i.icon {
  background-image: url("../imgs/list-down-com-ico.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-notsup i.icon,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.gnote-notsup i.icon {
  background-image: url("../imgs/list-gnote-notsup-ico.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-ready i.icon,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.gnote-ready i.icon {
  background-image: url("../imgs/list-gnote-ready-ico.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.gnote-transfer i.icon,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.gnote-transfer i.icon,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.gnote-transfer-com i.icon {
  background-image: url("../imgs/list-gnote-transfer-ico.png");
}
.app-wrap .container .mytextbook-list ul.list li .list-btns button.btn.update i.icon,
.app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn.update i.icon {
  background-image: url("../imgs/list-update-ico.png");
}


@media all and (max-width: 852px) {
  .app-wrap .container .mytextbook-list ul.list li .list-btns {
    top: 48px;
  }
  .app-wrap .container .mytextbook-list ul.list li .list-btns button.btn {
    height: 88px;
  }
  .app-wrap .container .mytextbook-list ul.list li .list-btns button.btn i.icon {
    width: 36px;
    height: 36px;
  }
  .app-wrap .container .mytextbook-list ul.album li .thumb-btns .btn {
    font-size: 12px;
  }
}

@media all and (max-width: 750px) {
  .app-wrap .container .mytextbook-list ul.list li .list-flex {
    margin-bottom: 20px;
  }
  .app-wrap .container .mytextbook-list ul.list li .list-btns {
    display: none;
  }
  .app-wrap .container .mytextbook-list ul.list li .list-btns-mob {
    display: flex;
    gap: 8px;
  }
  .app-wrap .container .mytextbook-list ul.list li .list-btns-mob button.btn {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40px;
    color: #BBB;
    font-size: 12px;
    font-weight: 700;
    line-height: 160%;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #F3F3F3;
    box-sizing: border-box;
  }
}
@media all and (max-width: 650px) {
  .btns-box {
    display: flex;
    justify-content: flex-end;
  }
	.btns-box ul {
    display: none;
  }
}

@media all and (max-width: 400px) {
  .btns-box .types select {
    width: 114px;
  }
}
