:root {
	--basicColor : #444;
	--blackColor : #000;
	--whiteColor : #fff;
	--devColor : blue;
	--mainColor : red;
}
* {
	position: relative;
	font-family:'Noto Sans KR','Malgun Gothic','맑은 고딕',Verdana,Tahoma,"돋움",Dotum,"굴림",Gulim,Geneva,sans-serif,Apple Gothic,AppleGothic;
	font-size: 16px;
	padding:0;
	margin:0;
}
body {font-size:0.825rem;}
li {list-style:none;}
a {text-decoration:none;}
a, a:hover, a:visited, a:focus, a:active {color:var(--basicColor);}

/* index */
#wrap {
	position:relative;
	margin: 0 auto;
	padding: 100px 20px;
}
header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:80px;
	background:var(--whiteColor);
}
header .cont_area {
  position: relative;
  margin: 0 20px;
}
h1 {
	font-size:2rem;
	font-weight:700;
	line-height:34px;
	letter-spacing:-1px;
	vertical-align:top;
	padding-bottom:20px;
	margin:20px 0;
	border-bottom:1px solid var(--blackColor);
}
h2 {
	padding:8px 15px;
	font-weight:500;
	border:1px solid var(--basicColor);
	border-bottom:none;
	background:#595959;
	color:var(--whiteColor);
}

#wrap .container dl {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 1rem;
	font-weight: 600;
	border-bottom: 1px solid var(--blackColor);

}
#wrap .container dl dt,
#wrap .container dl dd {
	width: 100%;
	min-height: 20px;
	text-align: center;
	padding: 6px 0px;
	border-left: 1px solid var(--blackColor);
}
#wrap .container > dl dt,
#wrap .container > dl dd {
	padding: 10px 0px;
	background-color: #e8e8e8;
	border-top: 1px solid var(--blackColor);
}
#wrap .container dl dd:last-child {
	border-right: 1px solid var(--blackColor);
}
#wrap .container .menuList dl dt,
#wrap .container .menuList dl dd {
	min-height: 20px;
	color: var(--basicColor);
	font-size: 0.9rem;
}
#wrap .container .menuList dl dd a.dev {
	color: var(--devColor);
}
#wrap .container .menuList dl dd a.main {
	color: var(--mainColor);
}

@media screen and (max-width: 500px) {
	* { font-size: 12px; }
}

@media screen and (max-width: 400px) {
	* { font-size: 10px; }
	#wrap .container dl dt,
	#wrap .container dl dd {
		min-height: auto;
	}
	#wrap .container .menuList dl dt,
	#wrap .container .menuList dl dd {
		min-height: 14px;
	}
}