.banner {
  height: 416.95px;
  background-color: var(--bannerColor);
}
.banner .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 72px;
  padding: 66.82px 100.23px;
}
.banner .inner .text h2 {
  color: var(--blackColor);
  font-size: 44px;
  font-weight: bold;
  line-height: 52.9px;
  margin-bottom: 12px;
}
.banner .inner .text h2 > span {
  color: var(--greenColor);
}
.banner .inner .text p {
  color: var(--grayColor);
  font-size: 11px;
  line-height: 16.7px;
}
.banner .inner .text p {
  color: var(--grayColor);
  font-size: 11px;
  line-height: 16.7px;
  margin-bottom: 22px;
}