#root {
  position: relative;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
:root {
  --whiteColor : #fff;
  --blackColor : #000;
  --blackGrayColor : #4d4d4d;
  --grayColor : #717171;
  --greenColor : #4CAF4F;
  --bannerColor : #F5F7FA;
}