@font-face {
    font-family: 'GmarketSans';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* common.css?v=240312 line: 57 change */
.gnb-dep01 > li > a.ebook > span {
  color: #6B89FF;
  border: 2px solid #6B89FF;
}
.book-info .thumb-box {
  position: relative;
  width: 100%;
  padding-top: 432px;
}
.book-info .thumb-img {
  width: 342px;
}
.book-info .thumb-img img {
  border: none;
}
#contentsWrap.main {padding-bottom: 0;}
#contentsWrap .container {
  position: relative;
  margin: 0 auto;
  max-width: 1046px;
}
#contentsWrap .container h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  padding-bottom: 28px;
  letter-spacing: normal;
}
#contentsWrap .container .menu-nav {
  position: relative;
  margin: 0 auto;
  max-width: 426px;
  /* max-width: 394px; */
  padding-bottom: 50px;
}
#contentsWrap .container .menu-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 16px;
}
#contentsWrap .container .menu-nav ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 142px;
  height: 76px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.5px;
  white-space: nowrap;
  text-align: center;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.35s;
  z-index: 2;
}
#contentsWrap .container .menu-nav ul li.active {
  width: 142px;
  color: #4165F4;
  transition: all 0.35s;
}

#contentsWrap .container .menu-nav .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 142px;
  height: 76px;
  border-radius: 16px;
  box-shadow: 0px 8px 20px 0px rgba(65, 101, 244, 0.2);
  box-shadow: 0px 8px 32px 0px rgba(65, 101, 244, 0.15);
  transition: all 0.35s;
}
#contentsWrap .container .book-details {
display: flex;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
max-width: 1046px;
margin: 0 auto;
}
#contentsWrap .container .book-details.ebook,
#contentsWrap .container .book-details.paper {
  display: none;
}
#contentsWrap .container .book-details .thumb-box .thumb-img {
  box-shadow: 0px 7px 36px 0px #00000026;
  box-shadow: 0px 10px 42px 0px #0000001A;
}
#contentsWrap .container .book-details .thumb-box .thumb-img button {
  outline: none;
}
#contentsWrap .container .book-details .thumb-box .thumb-img .thumb-ico {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  z-index: 10;
}
#contentsWrap .container .book-details .thumb-box .thumb-img .favorite-ico {
  position: absolute;
  left: 12px;
  bottom: 12px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.65);
  background-image: url("../imgs/favorite-ico.png");
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.35s;
}
#contentsWrap .container .book-details .thumb-box .thumb-img .favorite-ico.active {
  background-image: url("../imgs/favorite-ico_active.png");
}
#contentsWrap .container .book-details .thumb-box .thumb-img:hover .favorite-ico {
  background-color: rgba(255, 255, 255, 0.8);
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 10px 20px 0px rgba(16, 24, 40, 0.25);
  backdrop-filter: blur(20px);
  transition: all 0.35s;
}
#contentsWrap .container .book-details .thumb-box .thumb-img .preview-ico,
#contentsWrap .container .book-details .thumb-box .thumb-img .seeAll-ico {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.5px;
  padding: 10px 16px 8px;
  border-radius: 50px;
  background-color: rgba(0,0,0, 0.8);
  display: none;
}
#contentsWrap .container .book-details .thumb-box .thumb-img .preview-ico::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../imgs/preview-ico.png") center center/16px 16px no-repeat;
}
#contentsWrap .container .book-details .thumb-box .thumb-img .seeAll-ico::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../imgs/see-all-ico.png") center center/15px 19px no-repeat;
}
#contentsWrap .container .book-details .book-infos {
  width: 100%; 
}
#contentsWrap .container .book-details .book-infos .ticket-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
  width: 100%;
  margin-bottom: 40px;
}
#contentsWrap .container .book-details .book-infos .ticket-box span {
  color: #666;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: right;
  padding-left: 12px;
}
#contentsWrap .container .book-details .price-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#contentsWrap .container .book-details .price-box dl.tit {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(221, 221, 221, 1);
}

#contentsWrap .container .book-details .price-box dl.tit dt,
#contentsWrap .container .book-details .price-box dl.tit dd {
  color: #666;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
}
#contentsWrap .container .book-details .price-box dl.tit dt {
  max-width: 126px;
  text-align: left;
}
#contentsWrap .container .book-details .price-box dl {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}
#contentsWrap .container .book-details .price-box dl.last-dl {
  height: 35px;
  margin-bottom: 24px;
}
#contentsWrap .container .book-details .price-box dl dt {
  width: 126px;
  color: #666;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.5px;
}
#contentsWrap .container .book-details .price-box dl dd {
  color: #272525;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.5px;
}
#contentsWrap .container .book-details .price-box dl dd.lineThrough {
  text-decoration: line-through;
}
#contentsWrap .container .book-details .price-box dl dd.blueColor {
  color: #4165F4;
  font-size: 26px;
}
#contentsWrap .container .book-details .price-box dl dd > em {
  color: #272525;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
#contentsWrap .container .book-details .price-box dl dd span {
  position: relative;
  color: #3650B8;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  padding: 6px 10px 7px 29px;
  border-radius: 6px;
  border: 1px solid #4663D9;
  box-sizing: border-box;
}
#contentsWrap .container .book-details .price-box dl dd span:nth-child(1)::before {
  content: "";
  position: absolute;
  top: calc(50% - 9px);
  left: 10px;
  width: 18px;
  height: 18px;
  background: url("../imgs/ref-ico_01.png") center center/12px 15px no-repeat;
}
#contentsWrap .container .book-details .price-box dl dd span:nth-child(2)::before {
  content: "";
  position: absolute;
  top: calc(50% - 9px);
  left: 10px;
  width: 18px;
  height: 18px;
  background: url("../imgs/ref-ico_02.png") center center/14px 14px no-repeat;
}
#contentsWrap .container .book-details .price-box dl dd span:nth-child(3)::before {
  content: "";
  position: absolute;
  top: calc(50% - 9px);
  left: 10px;
  width: 18px;
  height: 18px;
  background: url("../imgs/ref-ico_03.png") center center/13px 10px no-repeat;
}
#contentsWrap .container .book-details .price-box .price-btns-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
#contentsWrap .container .book-details .price-box .price-btns-box .between-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
}
#contentsWrap .container .book-details .price-box .price-btns-box .row-btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}
#contentsWrap button.long-btn {
  width: 100%;
  height: 59px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.5px;
  padding: 16px 20px;
  border-radius: 6px;
  background-color: #6B89FF;
  box-shadow: 0px 8px 36px 0px #00000026;
}
#contentsWrap button.middle-btn {
  min-width: 200px;
  height: 59px;
  color: #4165F4;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.5px;
  padding: 16px 20px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #4165F4;
  box-shadow: 0px 8px 36px 0px #00000026;
}
#contentsWrap button.short-btn {
  width: 140px;
  height: 35px;
  color: #3650B8;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.5px;
  padding: 8px 0px;
  border-radius: 6px;
  border: 1px solid #4663D9;
}
#contentsWrap button.scribe-btn {
  display: inline-block;
  min-width: 50px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: url("../imgs/favorite-ico.png") center center/20px 20px no-repeat;
}
#contentsWrap .prod-purchase-footer {
  position: fixed;
  left: 0;
  bottom: -71px;
  width: 100%;
  min-width: 1440px;
  border-top: 1px solid #ccc;
  background-color: #fff;
  z-index: 999;
  transition: all 0.35s;
  
}
#contentsWrap .prod-purchase-footer .prod-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0px;
}
#contentsWrap .prod-purchase-footer .prod-inner .left-prod-info {
  font-weight: 700;
}
#contentsWrap .prod-purchase-footer .prod-inner .right-prod-info {
  display: flex;
  gap: 8px;
}
#contentsWrap .prod-purchase-footer .prod-inner .right-prod-info > button.long-btn {
  height: 50px;
  font-size: 16px;
}


/* main visual Renewal */
#contentsWrap .mainSection {
  position: relative;
  width: 100%;
  padding-top: 18px;
}
#contentsWrap .mainSection section.full {
  position: relative;
  width: 100%;
  background-color: #F5F4FA;
}
#contentsWrap .mainSection section:not(:last-child) {
  margin-bottom: 30px;
}
#contentsWrap .mainSection section .sec-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 30px;
  column-gap: 16px;
  max-width: 1280px;
  margin: 0 auto;
}
#contentsWrap .mainSection section.full .sec-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 64px;
  max-width: 1280px;
  height: 350px;
  padding: 29px 0 34px;
  margin: 0 auto;
}

#contentsWrap .mainSection section .sec-inner .slide-banner {
  position: relative;
  height: 140px;
  overflow-x: hidden;
}
#contentsWrap .mainSection section .sec-inner .slide-banner.long {
  width: 848px;
  background-color: #E4F2FE;
}
#contentsWrap .mainSection section .sec-inner .slide-banner.short {
  width: 416px;
  background-color: #F3D9FF;
  overflow-y: hidden;
}
#contentsWrap .mainSection section .sec-inner .slide-banner.short img {
  height: 140px;
  transition : transform .3s ease-in;
  cursor: pointer;
}
#contentsWrap .mainSection section .sec-inner .slide-banner.short:hover img {
  transform: scale(1.02);
}
#contentsWrap .mainSection section .sec-inner .slide-banner .slide-items {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 37.5px 46px;
}
#contentsWrap .mainSection section .sec-inner .slide-banner .slide-items h2 {
  font-family: 'GmarketSans';
  font-size: 30px;
  font-weight: 700;
  line-height: 133%;
  margin-bottom: 4px;
}
#contentsWrap .mainSection section .sec-inner .slide-banner .slide-items span {
  color: #282828;
  font-family: 'GmarketSans';
  font-size: 16px;
  font-weight: 500;
  line-height: 136%;
}
#contentsWrap .mainSection section .sec-inner .slide-banner .slide-items.fir {
  background-color: #E4F2FE;
}
#contentsWrap .mainSection section .sec-inner .slide-banner .slide-items.sec {
  background-color: #fee4e4;
}
#contentsWrap .mainSection section .sec-inner .slide-banner .slide-items.fir h2 {
  color: #0A43DC;
}
#contentsWrap .mainSection section .sec-inner .slide-banner .slide-items.sec h2 {
  color: #dc0a0a;
}
#contentsWrap .mainSection section .sec-inner .slide-banner .slide-banner-btn-box {
  position: absolute;
  display: flex;
  gap: 12px;
  right: 16px;
  bottom: 16px;
  cursor: pointer;
  z-index: 12;
}
#contentsWrap .mainSection section .sec-inner .slide-banner .slide-banner-btn-box .slide-banner-btn-prev,
#contentsWrap .mainSection section .sec-inner .slide-banner .slide-banner-btn-box .slide-banner-btn-next {
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(312.3999938964844px);
  background-color: rgba(113, 97, 97, 0.25);
  z-index: 10;
}
#contentsWrap .mainSection section .sec-inner .slide-banner .slide-banner-btn-box .slide-banner-btn-prev::after {
  content: "";
  position: absolute;
  top: calc(50% - 9px);
  right: calc(50% - 5px);
  width: 10px;
  height: 18px;
  background: url("../imgs/prev-ico.png") center center/cover no-repeat;
}
#contentsWrap .mainSection section .sec-inner .slide-banner .slide-banner-btn-box .slide-banner-btn-next::after {
  content: "";
  position: absolute;
  top: calc(50% - 9px);
  right: calc(50% - 5px);
  width: 10px;
  height: 18px;
  background: url("../imgs/next-ico.png") center center/cover no-repeat;
}
#contentsWrap .mainSection section .sec-inner .slide-banner.short img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

#contentsWrap .mainSection section .sec-inner .popular-box {
  width: 832px;
}
#contentsWrap .mainSection section .sec-inner .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
#contentsWrap .mainSection section .sec-inner .title h4 {
  color: #1D1D1E;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
}
#contentsWrap .mainSection section .sec-inner .title span {
  position: relative;
  color: #767676;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
}
#contentsWrap .mainSection section .sec-inner .title span.plus {
  cursor: pointer;
}
#contentsWrap .mainSection section .sec-inner .title span.plus::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: -4px;
  background: url("../imgs/plus-ico.png") center center/20px 20px no-repeat;
}
#contentsWrap .mainSection section .sec-inner .popular-box ul {
  content: none;
  clear: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
#contentsWrap .mainSection section .sec-inner .popular-box ul li {
  position: relative;
}
#contentsWrap .mainSection section .sec-inner .popular-box ul li a {
    display: flex;
  align-items: center;
  justify-content: center;
  width: 202px;
  height: 86px;
  line-height: 1;
  padding: 31.33px 20.5px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px #0000001A;
}

#contentsWrap .mainSection section .sec-inner .best-box {
  width: 408px;
}
#contentsWrap .mainSection section .sec-inner .best-box .title {
  display: flex;
  align-items: flex-end;
}
#contentsWrap .mainSection section .sec-inner .best-box .title span {
  position: relative;
  color: #767676;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -1px;
}
#contentsWrap .mainSection section .sec-inner .best-box ul li {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 52px;
  padding: 13.7px 20px;
  border-radius: 16px;
  background-color: #F5F4FA;
  overflow: hidden;
}
#contentsWrap .mainSection section .sec-inner .best-box ul li:not(:last-child) {
  margin-bottom: 4px;
}
#contentsWrap .mainSection section .sec-inner .best-box ul li span.number {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  margin-right: 8px;
  border-radius: 6px;
  background-color: #6B89FF;
}
#contentsWrap .mainSection section .sec-inner .best-box ul li:nth-child(n+4) span.number {
  background-color: #99999A;
}
#contentsWrap .mainSection section .sec-inner .best-box ul li span.text {
  position: relative;
  top: 6rem;
  color: #000;
  font-weight: 400;
  font-size: 17px;
  line-height: 133%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#contentsWrap .mainSection section .sec-inner .best-box ul li:nth-child(1) span.text {
  animation: rollingUp 1.5s 0.3s forwards;
}
#contentsWrap .mainSection section .sec-inner .best-box ul li:nth-child(2) span.text {
  animation: rollingUp 1.5s 0.6s forwards;
}
#contentsWrap .mainSection section .sec-inner .best-box ul li:nth-child(3) span.text {
  animation: rollingUp 1.5s 0.9s forwards;
}
#contentsWrap .mainSection section .sec-inner .best-box ul li:nth-child(4) span.text {
  animation: rollingUp 1.5s 1.1s forwards;
}
#contentsWrap .mainSection section .sec-inner .best-box ul li:nth-child(5) span.text {
  animation: rollingUp 1.5s 1.3s forwards;
}

#contentsWrap .mainSection section.full .sec-inner dl.list-active {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
}
#contentsWrap .mainSection section.full .sec-inner dl.list-active dt {
  color: #272525;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  margin-bottom: 20px;
}
#contentsWrap .mainSection section.full .sec-inner dl.list-active dd {
  color: #2E2F33E0;
  font-size: 17px;
  font-weight: 700;
  line-height: 133%;
  padding: 16px;
  cursor: pointer;
}
#contentsWrap .mainSection section.full .sec-inner dl.list-active dd:not(:last-child) {
  margin-bottom: 4px;
}
#contentsWrap .mainSection section.full .sec-inner dl.list-active dt,
#contentsWrap .mainSection section.full .sec-inner dl.list-active dd {
  width: 100%;
}
#contentsWrap .mainSection section.full .sec-inner dl.list-active dd.active {
  position: relative;
  color: #4165F4;
  background-color: #DEE4FF99;
  transition: all 0.35s;
}
#contentsWrap .mainSection section.full .sec-inner dl.list-active dd.active::after {
  content: "";
  position: absolute;
  top: calc(50% - 12px);
  right: 16px;
  width: 24px;
  height: 24px;
  background: url("../imgs/right-arrow.png") center center/24px 24px no-repeat;
  animation: rightShow 0.3s ease-in forwards;
}

#contentsWrap .mainSection section.full .sec-inner ul.list-view {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 42.17px;
  display: none;
}
#contentsWrap .mainSection section.full .sec-inner ul.list-view.show {
  display: flex;
}
#contentsWrap .mainSection section.full .sec-inner ul.list-view li {
  display: flex;
  flex-direction: column;
  width: 142px;
  animation: rightFadeIn 0.5s ease-in forwards;
}
#contentsWrap .mainSection section.full .sec-inner ul.list-view li a.ebook-anchor {
  position: relative;
}
#contentsWrap .mainSection section.full .sec-inner ul.list-view li a.ebook-anchor::after {
  content: "";
  position: absolute;
  top: -4px;
  left: calc(50% - 35px);
  width: 70px;
  height: 18px;
  background: url("../imgs/ebook-ico.png") center center/70px 18px no-repeat;
}
#contentsWrap .mainSection section.full .sec-inner ul.list-view li a.ebook-anchor img {
  width: auto;
  height: 196.23px;
  margin-bottom: 12.97px;
  vertical-align: bottom;
  transition : transform .3s ease-in;
}
#contentsWrap .mainSection section.full .sec-inner ul.list-view li a.ebook-anchor:hover img {
  transform: scale(1.02);
}
#contentsWrap .mainSection section.full .sec-inner ul.list-view li a.ebook-anchor span.name {
  display: inline-block;
  height: 36px;
  color: #666;
  font-weight: 700;
  font-size: 14px;
  line-height: 133%;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#contentsWrap .mainSection section .sec-inner .event-banner {
  width: 50%;
}
#contentsWrap .mainSection section .sec-inner .event-banner a {
  display: flex;
  width: 100%;
  max-height: 104px;
  cursor: pointer;
  overflow: hidden;
}
#contentsWrap .mainSection section .sec-inner .event-banner a img {
  width: 100%;
  transition : transform .3s ease-in;
  vertical-align: bottom;
}
#contentsWrap .mainSection section .sec-inner .event-banner a:hover img {
  transform: scale(1.02);
}
#contentsWrap .mainSection section .sec-inner .full-list-box {
  position: relative;
}
#contentsWrap .mainSection section .sec-inner .full-list-box ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 31.8px;
}
#contentsWrap .mainSection section .sec-inner .full-list-box ul li {
  width: 154.68px;
}
#contentsWrap .mainSection section .sec-inner .full-list-box ul li a {
  position: relative;
}
#contentsWrap .mainSection section .sec-inner .full-list-box ul li a.ebook-anchor::before {
  content: "";
  position: absolute;
  top: 4px;
  left: calc(50% - 35px);
  width: 70px;
  height: 18px;
  background: url("../imgs/ebook-ico.png") center center/70px 18px no-repeat;
  z-index: 10;
}
#contentsWrap .mainSection section .sec-inner .full-list-box ul li a.ebook-anchor i.favorite-ico {
  position: absolute;
  right: -6px;
  bottom: 44px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0px 3.44px 6.87px 0px #10182826;
  background: #fff url("../imgs/favorite-ico.png") center center/20px 20px no-repeat;
  cursor: pointer;
  transition: all 0.35s;
  z-index: 3;
}
#contentsWrap .mainSection section .sec-inner .full-list-box ul li a.ebook-anchor i.favorite-ico.active {
  background: #fff url("../imgs/favorite-ico_active.png") center center/20px 20px no-repeat;
}
#contentsWrap .mainSection section .sec-inner .full-list-box ul li a img {
  width: 100%;
  transition : transform .3s ease-in;
}
#contentsWrap .mainSection section .sec-inner .full-list-box ul li a:hover img {
  transform: scale(1.02);
}
#contentsWrap .mainSection section .sec-inner .full-list-box ul li a span {
  display: inline-block;
  color: #666;
  font-weight: 700;
  font-size: 14px;
  line-height: 133%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#contentsWrap .mainSection section.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #1D1D1E;
}
#contentsWrap .mainSection section.foot .sec-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}
#contentsWrap .mainSection section.foot .sec-inner .btns-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
#contentsWrap .mainSection section.foot .sec-inner .btns-box ul li {
  width: 120px;
  height: 40px;
}
#contentsWrap .mainSection section.foot .sec-inner .social-box ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
#contentsWrap .mainSection section.foot .sec-inner .social-box ul li a img {
  width: 24px;
  height: 24px;
  vertical-align: bottom;
}

@keyframes rightShow {
  0% { right: 26px; opacity: 0; }
  100% { right: 16px; opacity: 1; }
}
@keyframes rightFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes rollingUp {
  0% { top: 6rem; }
  50% { top: 3rem; }
  100% { top: 0; }
}