/* common.css?v=240312 line: 57 change */
.gnb-dep01 > li > a.ebook > span {
  color: #6B89FF;
  border: 2px solid #6B89FF;
}
.book-info .thumb-box {
  position: relative;
  width: 100%;
  padding-top: 432px;
}
.book-info .thumb-img {
  width: 342px;
}
.book-info .thumb-img img {
  border: none;
}
#contentsWrap .container {
  position: relative;
  margin: 0 auto;
  max-width: 1046px;
}
#contentsWrap .container h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  padding-bottom: 28px;
  letter-spacing: normal;
}
#contentsWrap .container .menu-nav {
  position: relative;
  margin: 0 auto;
  max-width: 426px;
  /* max-width: 394px; */
  padding-bottom: 50px;
}
#contentsWrap .container .menu-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 16px;
}
#contentsWrap .container .menu-nav ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 142px;
  height: 76px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.5px;
  white-space: nowrap;
  text-align: center;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.35s;
  z-index: 2;
}
#contentsWrap .container .menu-nav ul li.active {
  width: 142px;
  color: #4165F4;
  transition: all 0.35s;
}

#contentsWrap .container .menu-nav .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 142px;
  height: 76px;
  border-radius: 16px;
  box-shadow: 0px 8px 20px 0px rgba(65, 101, 244, 0.2);
  box-shadow: 0px 8px 32px 0px rgba(65, 101, 244, 0.15);
  transition: all 0.35s;
}
#contentsWrap .container .book-details {
display: flex;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
max-width: 1046px;
margin: 0 auto;
}
#contentsWrap .container .book-details.ebook,
#contentsWrap .container .book-details.paper {
  display: none;
}
#contentsWrap .container .book-details .thumb-box .thumb-img {
  box-shadow: 0px 7px 36px 0px #00000026;
  box-shadow: 0px 10px 42px 0px #0000001A;
}
#contentsWrap .container .book-details .thumb-box .thumb-img button {
  outline: none;
}
#contentsWrap .container .book-details .thumb-box .thumb-img .thumb-ico {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  z-index: 10;
}
#contentsWrap .container .book-details .thumb-box .thumb-img .favorite-ico {
  position: absolute;
  left: 12px;
  bottom: 12px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.65);
  background-image: url("../imgs/favorite-ico.png");
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.35s;
}
#contentsWrap .container .book-details .thumb-box .thumb-img .favorite-ico.active {
  background-image: url("../imgs/favorite-ico_active.png");
}
#contentsWrap .container .book-details .thumb-box .thumb-img:hover .favorite-ico {
  background-color: rgba(255, 255, 255, 0.8);
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 10px 20px 0px rgba(16, 24, 40, 0.25);
  backdrop-filter: blur(20px);
  transition: all 0.35s;
}
#contentsWrap .container .book-details .thumb-box .thumb-img .preview-ico,
#contentsWrap .container .book-details .thumb-box .thumb-img .seeAll-ico {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.5px;
  padding: 10px 16px 8px;
  border-radius: 50px;
  background-color: rgba(0,0,0, 0.8);
  display: none;
}
#contentsWrap .container .book-details .thumb-box .thumb-img .preview-ico::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../imgs/preview-ico.png") center center/16px 16px no-repeat;
}
#contentsWrap .container .book-details .thumb-box .thumb-img .seeAll-ico::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../imgs/see-all-ico.png") center center/15px 19px no-repeat;
}
#contentsWrap .container .book-details .book-infos {
  width: 100%; 
}
#contentsWrap .container .book-details .book-infos .ticket-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
  width: 100%;
  margin-bottom: 40px;
}
#contentsWrap .container .book-details .book-infos .ticket-box span {
  color: #666;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: right;
  padding-left: 12px;
}
#contentsWrap .container .book-details .price-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#contentsWrap .container .book-details .price-box dl.tit {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(221, 221, 221, 1);
}

#contentsWrap .container .book-details .price-box dl.tit dt,
#contentsWrap .container .book-details .price-box dl.tit dd {
  color: #666;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
}
#contentsWrap .container .book-details .price-box dl.tit dt {
  max-width: 126px;
  text-align: left;
}
#contentsWrap .container .book-details .price-box dl {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}
#contentsWrap .container .book-details .price-box dl.last-dl {
  height: 35px;
  margin-bottom: 24px;
}
#contentsWrap .container .book-details .price-box dl dt {
  width: 126px;
  color: #666;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.5px;
}
#contentsWrap .container .book-details .price-box dl dd {
  color: #272525;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.5px;
}
#contentsWrap .container .book-details .price-box dl dd.lineThrough {
  text-decoration: line-through;
}
#contentsWrap .container .book-details .price-box dl dd.blueColor {
  color: #4165F4;
  font-size: 26px;
}
#contentsWrap .container .book-details .price-box dl dd > em {
  color: #272525;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
#contentsWrap .container .book-details .price-box dl dd span {
  position: relative;
  color: #3650B8;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  padding: 6px 10px 7px 29px;
  border-radius: 6px;
  border: 1px solid #4663D9;
  box-sizing: border-box;
}
#contentsWrap .container .book-details .price-box dl dd span:nth-child(1)::before {
  content: "";
  position: absolute;
  top: calc(50% - 9px);
  left: 10px;
  width: 18px;
  height: 18px;
  background: url("../imgs/ref-ico_01.png") center center/12px 15px no-repeat;
}
#contentsWrap .container .book-details .price-box dl dd span:nth-child(2)::before {
  content: "";
  position: absolute;
  top: calc(50% - 9px);
  left: 10px;
  width: 18px;
  height: 18px;
  background: url("../imgs/ref-ico_02.png") center center/14px 14px no-repeat;
}
#contentsWrap .container .book-details .price-box dl dd span:nth-child(3)::before {
  content: "";
  position: absolute;
  top: calc(50% - 9px);
  left: 10px;
  width: 18px;
  height: 18px;
  background: url("../imgs/ref-ico_03.png") center center/13px 10px no-repeat;
}
#contentsWrap .container .book-details .price-box .price-btns-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
#contentsWrap .container .book-details .price-box .price-btns-box .between-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
}
#contentsWrap .container .book-details .price-box .price-btns-box .row-btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}
#contentsWrap button.long-btn {
  width: 100%;
  height: 59px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.5px;
  padding: 16px 20px;
  border-radius: 6px;
  background-color: #6B89FF;
  box-shadow: 0px 8px 36px 0px #00000026;
}
#contentsWrap button.middle-btn {
  min-width: 200px;
  height: 59px;
  color: #4165F4;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.5px;
  padding: 16px 20px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #4165F4;
  box-shadow: 0px 8px 36px 0px #00000026;
}
#contentsWrap button.short-btn {
  width: 140px;
  height: 35px;
  color: #3650B8;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.5px;
  padding: 8px 0px;
  border-radius: 6px;
  border: 1px solid #4663D9;
}
#contentsWrap button.scribe-btn {
  display: inline-block;
  min-width: 50px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: url("../imgs/favorite-ico.png") center center/20px 20px no-repeat;
}
#contentsWrap .prod-purchase-footer {
  position: fixed;
  left: 0;
  bottom: -71px;
  width: 100%;
  min-width: 1440px;
  border-top: 1px solid #ccc;
  background-color: #fff;
  z-index: 999;
  transition: all 0.35s;
  
}
#contentsWrap .prod-purchase-footer .prod-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0px;
}
#contentsWrap .prod-purchase-footer .prod-inner .left-prod-info {
  font-weight: 700;
}
#contentsWrap .prod-purchase-footer .prod-inner .right-prod-info {
  display: flex;
  gap: 8px;
}
#contentsWrap .prod-purchase-footer .prod-inner .right-prod-info > button.long-btn {
  height: 50px;
  font-size: 16px;
}


/* main visual Renewal */
#contentsWrap .mainContainer {
  position: relative;
  max-width: 1280px;
  width: 100%;
  padding: 30px 0px;
  margin: 0 auto;
}
#contentsWrap .mainContainer .flex-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  row-gap: 16px;
  column-gap: 30px;
}
#contentsWrap .mainContainer .flex-inner .slideBanner {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 16px;
  margin-bottom: 30px;
}
#contentsWrap .mainContainer .flex-inner .slideBanner .slideReat {
  width: 100%;
}