.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--whiteColor);
  font-size: 14px;
  padding: 10px 22px;
  outline: none;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: var(--greenColor);
  cursor: pointer;
}
.button.small {
  width: 130px;
  height: 36px;
}
.button.long {
  width: 133px;
  height: 36px;
}